<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
  <app-header></app-header>

  <!---------------------------------------------------------------------->
  <!-- SIDEBAR DESHABILITADO -->
  <!---------------------------------------------------------------------->
  <!-- <app-sidebar *ngIf="usuarioService.logueado"></app-sidebar> -->

  <!-- ============================================================== -->
  <!-- Page wrapper  -->
  <!-- ============================================================== -->
  <!-- <div [ngClass]="{'page-wrapper' : usuarioService.logueado}"> -->

  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <!-- <div class="container-fluid"> -->
  <div style="margin-top: 70px;">
    <!-- <app-breadcrumbs *ngIf="usuarioService.logueado"></app-breadcrumbs> -->

    <router-outlet></router-outlet>

    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <!-- <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                This is some text within a card block.
                            </div>
                        </div>
                    </div>
                </div> -->
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->



  </div>
  <!-- ============================================================== -->
  <!-- End Container fluid  -->
  <!-- ============================================================== -->


  <!-- ============================================================== -->
  <!-- footer -->
  <!-- ============================================================== -->
<!-- 
  <footer class="p-2 bg-light text-center">
    <div class="row">
      <div class="col-12 col-sm-6" style="text-align: start; font-size: small;">Matias Frith© 2019 <i
          class="mdi mdi-whatsapp text-success"></i> +54 11 6490-6542
      </div>
    </div>
  </footer> -->
  <!-- ============================================================== -->
  <!-- End footer -->
  <!-- ============================================================== -->

  <!-- </div> -->
  <!-- ============================================================== -->
  <!-- End Page wrapper  -->
  <!-- ============================================================== -->


</div>


<!-- Modal Upload -->
<app-modal-upload></app-modal-upload>