<form [formGroup]="formDetalles" (ngSubmit)="enviarFormulario()" id="formDetalles" *ngIf="formData">
    <div class="container animated fadeIn" *ngIf="formData && formDetalles">
        <div class=" row">

            <mat-form-field appearance="fill" class="my-1 col-12 col-lg-4 col-md-6">
                <mat-label>Superficie total</mat-label>
                <input matInput type="number" formControlName="superficietotal">
            </mat-form-field>

            <mat-form-field appearance="fill" class="my-1 col-12 col-lg-4 col-md-6">
                <mat-label>Superficie construible</mat-label>
                <input matInput type="number" formControlName="superficieconstruible">
            </mat-form-field>

            <mat-form-field appearance="fill" class="my-1 col-12 col-lg-4 col-md-6">
                <mat-label>Zonificacion</mat-label>
                <input matInput formControlName="zonificacion">
            </mat-form-field>

            <mat-form-field appearance="fill" class="my-1 col-12 col-lg-4 col-md-6">
                <mat-label>Longitud del fondo</mat-label>
                <input matInput type="number" formControlName="longitudfondo">
            </mat-form-field>

            <mat-form-field appearance="fill" class="my-1 col-12 col-lg-4 col-md-6">
                <mat-label>Longitud del frente</mat-label>
                <input matInput type="number" formControlName="longitudfrente">
            </mat-form-field>


            <mat-form-field appearance="fill" class="col-12 col-lg-4 col-md-6">
                <mat-label>Tipo de Terreno</mat-label>
                <mat-select formControlName="tipoterreno">
                    <mat-option *ngFor="let terreno of formsService.tiposTerrenos" [value]="terreno._id">
                        {{ terreno.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="my-1 col-12 col-lg-4 col-md-6">
                <mat-label>Factor ocupacional total (FOT)</mat-label>
                <input matInput formControlName="fot">
            </mat-form-field>

            <mat-form-field appearance="fill" class="my-1 col-12 col-lg-4 col-md-6">
                <mat-label>Factor ocupacional del suelo (FOS)</mat-label>
                <input matInput formControlName="fos">
            </mat-form-field>

            <mat-form-field appearance="fill" class="col-12 col-lg-4 col-md-6">
                <mat-label>Tipo de Pendiente</mat-label>
                <mat-select formControlName="tipopendiente">
                    <mat-option *ngFor="let pendiente of formsService.tiposPendientes" [value]="pendiente._id">
                        {{ pendiente.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="col-12 col-lg-4 col-md-6">
                <mat-label>Vista</mat-label>
                <mat-select formControlName="tipovista">
                    <mat-option *ngFor="let vista of formsService.tiposVistas" [value]="vista._id">
                        {{ vista.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="col-12 col-lg-4 col-md-6">
                <mat-label>Estado</mat-label>
                <mat-select formControlName="estado">
                    <mat-option *ngFor="let estado of formsService.tiposEstados" [value]="estado._id">
                        {{ estado.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="my-1 col-12 col-lg-4 col-md-6">
                <mat-label>Propiedad ocupada</mat-label>
                <mat-select formControlName="propiedadocupada" (click)="setInstalaciones(instalacion)">
                    <mat-option [value]="true">Si</mat-option>
                    <mat-option [value]="false">No</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="my-1 col-12 col-lg-4 col-md-6">
                <mat-label>Fondo irregular</mat-label>
                <mat-select formControlName="fondoirregular" (click)="setInstalaciones(instalacion)">
                    <mat-option [value]="true">Si</mat-option>
                    <mat-option [value]="false">No</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="my-1 col-12 col-lg-4 col-md-6">
                <mat-label>Frente irregular</mat-label>
                <mat-select formControlName="frenteirregular" (click)="setInstalaciones(instalacion)">
                    <mat-option [value]="true">Si</mat-option>
                    <mat-option [value]="false">No</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="my-1 col-12 col-lg-4 col-md-6">
                <mat-label>Lateral izquierdo irregular</mat-label>
                <mat-select formControlName="lateralizquierdoirregular" (click)="setInstalaciones(instalacion)">
                    <mat-option [value]="true">Si</mat-option>
                    <mat-option [value]="false">No</mat-option>
                </mat-select>
            </mat-form-field>


            <mat-form-field appearance="fill" class="my-1 col-12 col-lg-4 col-md-6">
                <mat-label>Lateral derecho irregular</mat-label>
                <mat-select formControlName="lateralderechoirregular" (click)="setInstalaciones(instalacion)">
                    <mat-option [value]="true">Si</mat-option>
                    <mat-option [value]="false">No</mat-option>
                </mat-select>
            </mat-form-field>


            <mat-form-field appearance="fill" class="my-1 col-12 col-lg-4 col-md-6">
                <mat-label>Demolicion</mat-label>
                <mat-select formControlName="demolicion" (click)="setInstalaciones(instalacion)">
                    <mat-option [value]="true">Si</mat-option>
                    <mat-option [value]="false">No</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="my-1 col-12 col-lg-4 col-md-6">
                <mat-label>Instalaciones</mat-label>
                <mat-select formControlName="instalaciones" multiple>
                    <!-- <mat-select-trigger>
                        {{instalaciones.value ? instalaciones.value[0] : ''}}
                        <span *ngIf="instalaciones.value?.length > 1" class="example-additional-selection">
                            (+{{instalaciones.value.length - 1}}
                            {{instalaciones.value?.length === 2 ? 'otro' : 'otros'}})
                        </span>
                    </mat-select-trigger> -->
                    <mat-option *ngFor="let instalacion of formsService.tiposInstalaciones" [value]="instalacion._id"
                        (click)="setInstalaciones(instalacion)">
                        {{instalacion.nombre}}</mat-option>
                </mat-select>
            </mat-form-field>


            <mat-form-field appearance="fill" class="my-1 col-12 col-lg-4 col-md-6">
                <mat-label>Servicios</mat-label>
                <mat-select formControlName="servicios" multiple>
                    <!-- <mat-select-trigger>
                        {{instalaciones.value ? instalaciones.value[0] : ''}}
                        <span *ngIf="instalaciones.value?.length > 1" class="example-additional-selection">
                            (+{{instalaciones.value.length - 1}}
                            {{instalaciones.value?.length === 2 ? 'otro' : 'otros'}})
                        </span>
                    </mat-select-trigger> -->
                    <mat-option *ngFor="let servicio of formsService.tiposServicios" [value]="servicio._id"
                        (click)="setServicios(servicio)">
                        {{servicio.nombre}}</mat-option>
                </mat-select>
            </mat-form-field>

        </div>
    </div>
    <button class="btn btn-dark">Guardar detalles</button>
</form>