<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <table class="animated fadeIn table table-sm table-striped">
                <thead>
                    <tr>
                        <th scope="col">Localidad</th>
                        <th scope="col">Operacion</th>
                        <th scope="col">Inmueble</th>
                        <th scope="col">Calle</th>
                        <th scope="col">Altura</th>
                        <th scope="col">Precio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let aviso of avisos; index as i">
                        <td>{{ aviso.localidad.properties.nombre | capitalizarPipe }},
                            {{ aviso.localidad.properties.provincia.nombre | capitalizarPipe }}</td>
                        <td>{{ aviso.tipooperacion.nombre }}</td>
                        <td>{{ aviso.tipoinmueble.nombre }}</td>
                        <td>{{ aviso.calle }}</td>
                        <td>{{ aviso.altura }}</td>
                        <td>{{ aviso.tipocambio.simbolo }} {{ aviso.precio }}</td>
                        <td><span *ngIf="aviso.activo">Activo</span><span *ngIf="!aviso.activo">Inactivo</span></td>
                        <td style="cursor: pointer;">
                            <span class="float-right">
                                <i class="mdi mdi-dots-vertical" [matMenuTriggerFor]="menu"></i>
                                <mat-menu #menu="matMenu">
                                    <div class="px-2">


                                        <div [routerLink]="['/aviso', aviso._id]" class="btn btn-sm btn-dark btn-block">
                                            <i class="fa fa-eye"></i>&nbsp; Ver aviso
                                        </div>
                                        <div *ngIf="aviso.activo" (click)="cambiarEstado(aviso._id)"
                                            class="btn btn-sm btn-success btn-block">
                                            <i class="fa fa-check-circle-o"></i>&nbsp; Desactivar
                                        </div>
                                        <div *ngIf="!aviso.activo" (click)="cambiarEstado(aviso._id)"
                                            class="btn btn-sm btn-secondary btn-block">
                                            <i class="fa fa-circle-o"></i>&nbsp; Activar
                                        </div>
                                        <div [routerLink]="['/aviso-crear', aviso._id ]"
                                            class="btn btn-sm btn-primary btn-block">
                                            <i class="fa fa-edit"></i>&nbsp; Editar
                                        </div>
                                        <div (click)="borrarAviso( aviso )" class="btn btn-sm btn-danger btn-block">
                                            <i class="fa fa-trash-o"></i>&nbsp; Borrar
                                        </div>
                                    </div>
                                </mat-menu>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12">
            <div>
                <button (click)="cargarAvisos(-1)" class="btn btn-primary m-1">
                    Anteriores
                </button>
                <button (click)="cargarAvisos(1)" class="btn btn-primary m-1">
                    Siguientes
                </button>
            </div>
        </div>
    </div>
</div>