<div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-sm-12">
        <div class="text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor</span>
        </div>
    </div>
</div>


<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-12">
        <div class=" m-3 p-2">
            <input #input (keyup)="buscarAviso( input.value )" type="text" class="form-control"
                placeholder="Buscar aviso...">
        </div>

        <div class=" m-3 p-2">
            <button [routerLink]="['/aviso-crear','nuevo']" type="button"
                class="btn waves-effect waves-light btn-warning float-right">
                <i class="fa fa-plus"></i>
                Agregar Aviso
            </button>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-12">
        <div class="row border rounded m-3 p-2" style="align-items: center; line-height: 20px; font-weight: 300; "
            *ngFor="let aviso of avisos; index as i">


            <!---------------------------------------------------------------------->
            <!-- IMAGEN  -->
            <!---------------------------------------------------------------------->
            <div class="col-md-3" [ngClass]="{'aviso-inactiva': !aviso.activo, 'aviso-activa': aviso.activo}">
                <img (click)="mostrarModal( aviso._id )" [src]="aviso.imgs[0] | imagenPipe : 'avisos' : aviso._id"
                    class="img-200 pointer rounded">
            </div>

            <!---------------------------------------------------------------------->
            <!-- INFO -->
            <!---------------------------------------------------------------------->
            <div class="col-md-4 h6" style="font-weight: 300;line-height: 25px;"
                [ngClass]="{'aviso-inactiva': !aviso.activo, 'aviso-activa': aviso.activo}">
                #id: {{ aviso._id}}<br /><br />
                {{ aviso.tipoinmueble.nombre }} en
                {{ aviso.tipooperacion.nombre }} en
                {{ aviso.localidad.nombre | capitalizarPipe }}
                <br />
                <span class="h5" style="font-weight: 400; color: royalblue; ">{{ aviso.calle }}
                    {{ aviso.altura }}</span>
                <br />
                <span>0 vistas | 23 dias para finalizar</span>
            </div>

            <!---------------------------------------------------------------------->
            <!-- PAUSADO/ACTIVO -->
            <!---------------------------------------------------------------------->
            <div class="col-md-2">
                <div *ngIf="!aviso.activo" style="text-align: -webkit-center;">
                    <div class="aviso-pausado"><i class="mdi mdi-pause-circle"></i></div>
                    <div class="aviso-pausado-label">Aviso pausado!</div>
                </div>
            </div>

            <!---------------------------------------------------------------------->
            <!-- PRECIO -->
            <!---------------------------------------------------------------------->
            <div class="col-md-2" class="font-precio"
                [ngClass]="{'aviso-inactiva': !aviso.activo, 'aviso-activa': aviso.activo}">
                {{ aviso.precio }}
            </div>

            <!---------------------------------------------------------------------->
            <!-- MENU OPCIONES -->
            <!---------------------------------------------------------------------->
            <div class="col-md-1 h4" style="text-align-last: end;">

                <i class="mdi mdi-dots-vertical" [matMenuTriggerFor]="menu"></i>

                <mat-menu #menu="matMenu">
                    <div class="p-2">
                        <div class="m-2">
                            <button [routerLink]="['/aviso', aviso._id]" class="btn btn-dark btn-block">
                                <i class="fa fa-eye"></i>&nbsp; Ver aviso
                            </button>
                        </div>
                        <div class="m-2">
                            <button *ngIf="aviso.activo" (click)="cambiarEstado(aviso._id)"
                                class="btn btn-success btn-block">
                                <i class="fa fa-check-circle-o"></i>&nbsp; Desactivar
                            </button>
                        </div>
                        <div class="m-2">
                            <button *ngIf="!aviso.activo" (click)="cambiarEstado(aviso._id)"
                                class="btn btn-secondary btn-block">
                                <i class="fa fa-circle-o"></i>&nbsp; Activar
                            </button>
                        </div>
                        <div class="m-2">

                            <button [routerLink]="['/aviso-crear', aviso._id ]" class="btn btn-primary btn-block">
                                <i class="fa fa-edit"></i>&nbsp; Editar
                            </button>

                        </div>
                        <div class="m-2">
                            <button (click)="borrarAviso( aviso )" class="btn btn-danger btn-block">
                                <i class="fa fa-trash-o"></i>&nbsp; Borrar
                            </button>

                        </div>
                    </div>
                </mat-menu>
            </div>

        </div>

        <div>
            <button (click)="cargarMisAvisos(-1)" class="btn btn-primary m-1">
                Anteriores
            </button>

            <button (click)="cargarMisAvisos(1)" class="btn btn-primary m-1">
                Siguientes
            </button>
        </div>

    </div>
</div>