<div class="no-sidebar">



    <div class="row animated fadeIn">
        <div class="col-12">

            <div class="m-3 p-2">
                <input #input (keyup)="buscarAviso( input.value )" type="text" class="form-control"
                    placeholder="Buscar aviso...">
            </div>

            <div class="m-3 p-2">
                <button [routerLink]="['/aviso-crear','nuevo']" type="button"
                    class="btn waves-effect waves-light btn-warning float-right">
                    <i class="fa fa-plus"></i>
                    Agregar Aviso
                </button>
            </div>

            <div class="tab-pane fade animated fadeIn" id="lista">
                <app-list [avisos]="avisos"></app-list>
            </div>

        </div>
    </div>
</div>