<div class="animated fadeIn">
    <mat-horizontal-stepper [linear]=" isLinear" #stepper>

        <!-- --------------------------------------------------------------- -->
        <!-- FORMULARIO DE AVISO -->
        <!-- --------------------------------------------------------------- -->

        <mat-step>
            <ng-template matStepLabel><i class="mdi mdi-home-outline h5"></i>&nbsp; Aviso</ng-template>
            <app-form-aviso [formData]="aviso" (setFormDetalles)="setFormDetalles($event)"
                (formReady)="guardarAviso($event, stepper)" (stepperReset)="stepperReset(stepper)"
                *ngIf="parsetemplate">
            </app-form-aviso>
        </mat-step>



        <!-- --------------------------------------------------------------- -->
        <!-- FORMULARIO DE DETALLES (SOLO PARA VENTA) -->
        <!-- --------------------------------------------------------------- -->

        <!-- <mat-step *ngIf="ingresaDetalles">
            <ng-template matStepLabel><i class="mdi mdi-content-paste h5"></i>&nbsp; Detalles</ng-template>
            <app-form-detalles [formData]="aviso" (formReady)="guardarDetalles($event, stepper)" *ngIf="parsetemplate">
            </app-form-detalles>
        </mat-step> -->
        <mat-step *ngIf="ingresaDetalles">
            <ng-template matStepLabel><i class="mdi mdi-content-paste h5"></i>&nbsp; Detalles</ng-template>
            <app-newforms [formData]="aviso" [(ingresaDetallesData)]="ingresaDetallesData"
                (ingresaDetalles)="ingresaDetalles=$event" (formReady)="guardarDetalles($event, stepper)">
            </app-newforms>
        </mat-step>
        <!-- --------------------------------------------------------------- -->
        <!-- UPLOADER DE IMAGENES -->
        <!-- --------------------------------------------------------------- -->

        <mat-step>
            <ng-template matStepLabel><i class="mdi mdi-camera h5"></i>&nbsp; Fotos</ng-template>
            <div class="p-3 my-3 bg-dark row rounded rounded-lg animated fadeIn">
                <div class="col-12">
                    <h2 class="text-white bold">
                        Subir Imagenes
                    </h2>
                </div>
            </div>
            <app-uploader [aviso]="aviso" tipo="avisos" [id]="avisoId"
                (cargaFinalizada)="misAvisosService.stepperGoNext(stepper)">
            </app-uploader>
        </mat-step>


        <!-- --------------------------------------------------------------- -->
        <!-- CONFIRMACION DE PUBLICACION -->
        <!-- --------------------------------------------------------------- -->

        <mat-step *ngIf="!aviso.activo || !aviso">
            <ng-template matStepLabel><i class="mdi mdi-check-circle-outline h5"></i>&nbsp; Confirmar</ng-template>
            <app-form-confirm [aviso]="aviso">
            </app-form-confirm>
        </mat-step>

    </mat-horizontal-stepper>
</div>