<div class="container" *ngIf="propiedad">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron">
                <h1 class="display-4">¡Tu aviso esta listo!</h1>
                <p class="lead">
                    Tu aviso fue cargado con éxito, sin embargo, para que aparezca en la lista de avisos activos y las
                    personas puedan ver tu publicación debes activarla. Por favor tomate unos segundos para
                    revisar los datos en la ficha de tu aviso. Si deseas corregir algun dato puedes volver atras
                    y corregirlo ahora.
                </p>
                <hr class="my-5">
                <p>Recuerda que siempre puedes desactivar o eliminar tus avisos desde 'Mis propiedades'.</p>
                <p class="lead">
                    <a class="btn btn-success btn-lg" href="#" role="button" (click)="activarPropiedad()">Publicar mi
                        aviso</a>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h4 class="card-title">Ficha del aviso</h4>
                    <p class="card-text">
                        <b>Dirección:</b> {{ propiedad.calle}} {{ propiedad.altura}} <br />
                        <b>Piso:</b> {{ propiedad.piso}} <br />
                        <b>Depto:</b> {{ propiedad.depto}} <br />
                        <b>Tipo de inmueble:</b> {{ propiedad.tipoinmueble}} <br />
                        <b>Tipo de unidad:</b> {{ propiedad.tipounidad}} <br />
                        <b>Tipo de operación:</b> {{ propiedad.tipooperacion}} <br />
                        <b>Título:</b> {{ propiedad.titulo}} <br />
                        <b>Descripción:</b> {{ propiedad.descripcion}} <br />
                        <b>Precio:</b> {{ propiedad.precio}} <br />
                        <b>Moneda:</b> {{ propiedad.moneda}} <br />
                        <b>No publicar precio:</b> {{ propiedad.nopublicarprecio}} <br />
                        <b>Apto credito:</b> {{ propiedad.aptocredito}} <br />
                        <b>País:</b> {{ propiedad.pais}} <br />
                        <b>Provincia:</b> {{ propiedad.provincia}} <br />
                        <b>Partido:</b> {{ propiedad.partido}} <br />
                        <b>Localidad:</b> {{ propiedad.localidad}} <br />
                        <b>Barrio:</b> {{ propiedad.barrio}} <br />
                        <b>Sub barrio:</b> {{ propiedad.subbarrio}} <br />
                        <b>Código postal:</b> {{ propiedad.codigopostal}} <br />
                    </p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h4 class="card-title">Ficha de la propiedad</h4>
                    <p class="card-text">
                        <b>Dirección:</b> {{ propiedad.calle}} {{ propiedad.altura}} <br />
                        <b>Piso:</b> {{ propiedad.piso}} <br />
                        <b>Depto:</b> {{ propiedad.depto}} <br />
                        <b>Tipo de inmueble:</b> {{ propiedad.tipoinmueble}} <br />
                        <b>Tipo de unidad:</b> {{ propiedad.tipounidad}} <br />
                        <b>Tipo de operación:</b> {{ propiedad.tipooperacion}} <br />
                        <b>Título:</b> {{ propiedad.titulo}} <br />
                        <b>Descripción:</b> {{ propiedad.descripcion}} <br />
                        <b>Precio:</b> {{ propiedad.precio}} <br />
                        <b>Moneda:</b> {{ propiedad.moneda}} <br />
                        <b>No publicar precio:</b> {{ propiedad.nopublicarprecio}} <br />
                        <b>Apto credito:</b> {{ propiedad.aptocredito}} <br />
                        <b>País:</b> {{ propiedad.pais}} <br />
                        <b>Provincia:</b> {{ propiedad.provincia}} <br />
                        <b>Partido:</b> {{ propiedad.partido}} <br />
                        <b>Localidad:</b> {{ propiedad.localidad}} <br />
                        <b>Barrio:</b> {{ propiedad.barrio}} <br />
                        <b>Sub barrio:</b> {{ propiedad.subbarrio}} <br />
                        <b>Código postal:</b> {{ propiedad.codigopostal}} <br />
                    </p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- <pre>
    {{propiedad | json}}
    </pre> -->