<!-- ============================================================== -->
<!-- Topbar header - style you can find in pages.scss -->
<!-- ============================================================== -->
<header class="topbar box-shadow">
    <nav class="navbar top-navbar navbar-expand-sm navbar-light">

        <!-- ============================================================== -->
        <!-- Logo -->
        <!-- ============================================================== -->
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">
                <!-- Logo icon --><b>
                    <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                    <!-- Dark Logo icon -->
                    <img src="../assets/images/nuvi-logo-60x60.png" alt="homepage" class="dark-logo img-fluid" />
                    <!-- Light Logo icon -->
                    <img src="../assets/images/nuvi-logo-60x60.png" alt="homepage" class="light-logo img-fluid" />
                </b>
                <!--End Logo icon -->
                <!-- Logo text --><span>
                    <!-- dark Logo text -->
                    <img src="../assets/images/nuvi-logo-text.png" alt="homepage" class="dark-logo" />
                    <!-- Light Logo text -->
                    <img src="../assets/images/nuvi-logo-text.png" class="light-logo" alt="homepage" /></span>
            </a>
        </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->

        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">



            <!-- ============================================================== -->
            <!-- toggle and nav items -->
            <!-- ============================================================== -->
            <ul class="navbar-nav mr-auto">

                <!-- ============================================================== -->
                <!-- toggle sidebar -->
                <!-- ============================================================== -->
                <!-- <li class="nav-item" *ngIf="userService.logueado">
                    <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)"><i
                            class="ti-menu"></i></a>
                </li>
                <li class="nav-item" *ngIf="userService.logueado">
                    <a class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark"
                        href="javascript:void(0)"><i class="ti-menu"></i></a>
                </li> -->
                <!-- ============================================================== -->
                <!-- end toggle sidebar -->
                <!-- ============================================================== -->

                <!-- ============================================================== -->
                <!-- Header Menu  -->
                <!-- ============================================================== -->

                <!-- <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li> -->
                <li class="{{item.class}}" *ngFor="let item of sidebarService.publicHeaderMenu; let i = index">
                    <a class="nav-link" routerLink="{{item.url}}">
                        <!-- <i class="{{item.icono}}"></i> -->
                        &nbsp;{{item.titulo}}
                    </a>
                </li>
                <!-- <li class="nav-item d-none d-sm-block">
                    <a class="nav-link disabled " href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li> -->

                <li class="nav-item hidden-sm-down"></li>

                <!-- ============================================================== -->
                <!-- End Header Menu  -->
                <!-- ============================================================== -->

            </ul>
            <ul class="navbar-nav">


                <!-- ============================================================== -->
                <!-- Search -->
                <!-- ============================================================== -->
                <!-- <li class="nav-item search-box">
                    <a class="nav-link waves-effect waves-dark" href="javascript:void(0)">
                        <i class="ti-search"></i>
                    </a>

                    <div class="app-search">
                        <input #input (keyup.enter)="buscar( input.value )" type="text" class="form-control"
                            placeholder="Buscar y enter"> <a class="srh-btn"><i class="ti-close"></i></a>
                    </div>
                </li> -->
                <!-- ============================================================== -->
                <!-- End Search -->
                <!-- ============================================================== -->

                <!-- ============================================================== -->
                <!-- Login -->
                <!-- ============================================================== -->
                <li class="nav-item" *ngIf="!userService.logueado">
                    <a routerLink="/login" class="nav-link waves-effect waves-dark">
                        <div class="btn btn-primary">
                            <i class="mdi mdi-account-circle h5"></i>&nbsp;&nbsp;Entrar
                        </div>
                    </a>
                </li>
                <!-- ============================================================== -->
                <!-- Login -->
                <!-- ============================================================== -->

                <!-- ============================================================== -->
                <!-- Messages -->
                <!-- ============================================================== -->
                <li class="nav-item dropdown" *ngIf="userService.logueado">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" id="2" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="mdi mdi-email"></i>
                        <div class="notify">
                            <span class="heartbit"></span> <span class="point"></span>
                        </div>
                    </a>
                    <div class="dropdown-menu mailbox dropdown-menu-right animated bounceInDown" aria-labelledby="2">
                        <ul>
                            <li>
                                <div class="drop-title">You have 4 new messages</div>
                            </li>
                            <li>
                                <div class="message-center">
                                    <!-- Message -->
                                    <a href="#">
                                        <div class="user-img">
                                            <img src="../assets/images/animals/crab-icon.png" alt="user"
                                                class="img-circle" />
                                            <span class="profile-status online pull-right"></span>
                                        </div>
                                        <div class="mail-contnet">
                                            <h5>Pavan kumar</h5>
                                            <span class="mail-desc">Just see the my admin!</span>
                                            <span class="time">9:30 AM</span>
                                        </div>
                                    </a>
                                    <!-- Message -->
                                    <a href="#">
                                        <div class="user-img">
                                            <img src="../assets/images/animals/frog-icon.png" alt="user"
                                                class="img-circle" />
                                            <span class="profile-status busy pull-right"></span>
                                        </div>
                                        <div class="mail-contnet">
                                            <h5>Sonu Nigam</h5>
                                            <span class="mail-desc">I've sung a song! See you at</span>
                                            <span class="time">9:10 AM</span>
                                        </div>
                                    </a>
                                    <!-- Message -->
                                    <a href="#">
                                        <div class="user-img">
                                            <img src="../assets/images/animals/sheep-icon.png" alt="user"
                                                class="img-circle" />
                                            <span class="profile-status away pull-right"></span>
                                        </div>
                                        <div class="mail-contnet">
                                            <h5>Arijit Sinh</h5>
                                            <span class="mail-desc">I am a singer!</span>
                                            <span class="time">9:08 AM</span>
                                        </div>
                                    </a>
                                    <!-- Message -->
                                    <a href="#">
                                        <div class="user-img">
                                            <img src="../assets/images/animals/turtle-icon.png" alt="user"
                                                class="img-circle" />
                                            <span class="profile-status offline pull-right"></span>
                                        </div>
                                        <div class="mail-contnet">
                                            <h5>Pavan kumar</h5>
                                            <span class="mail-desc">Just see the my admin!</span>
                                            <span class="time">9:02 AM</span>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <a class="nav-link text-center" href="javascript:void(0);">
                                    <strong>See all e-Mails</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!-- ============================================================== -->
                <!-- End Messages -->
                <!-- ============================================================== -->

                <!-- ============================================================== -->
                <!-- Profile -->
                <!-- ============================================================== -->
                <li class="nav-item dropdown" *ngIf="userService.logueado">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"><img
                            src="{{ userService.usuario.img | imagenPipe: 'usuarios':userService.usuario._id }}"
                            alt="user" class="profile-pic" /></a>
                    <div class="dropdown-menu dropdown-menu-right animated flipInY">
                        <ul class="dropdown-user">


                            <!---------------------------------------------------------------------->
                            <!-- HEDADER (FOTO EMAIL Y PERFIL) -->
                            <!---------------------------------------------------------------------->
                            <li>
                                <div class="dw-user-box">
                                    <div class="u-img">
                                        <img src="{{
                                            userService.usuario.img | imagenPipe: 'usuarios':userService.usuario._id
                                      }}" alt="user" />
                                    </div>
                                    <div class="u-text">
                                        <h4>{{ userService.usuario.nombre }}</h4>
                                        <p class="text-muted">{{ userService.usuario.email }}</p>
                                        <a routerLinkActive="active" routerLink="/profile"
                                            class="btn btn-block btn-danger">Ver
                                            perfil</a>
                                    </div>
                                </div>
                            </li>


                            <!---------------------------------------------------------------------->
                            <!-- TITULO DEL MENU -->
                            <!---------------------------------------------------------------------->
                            <div *ngFor="let item of userService.menu">
                                <li class="rounded m-1" style=" background-color: lightgray;">
                                    <a>
                                        <i [class]="item.icono"></i>
                                        <span> {{ item.titulo }} </span>
                                    </a>
                                </li>

                                <!---------------------------------------------------------------------->
                                <!-- ITEMS DEL MENU -->
                                <!---------------------------------------------------------------------->
                                <li *ngFor="let submenu of item.submenu">
                                    <a routerLinkActive="active" [routerLink]="[ submenu.url ]">
                                        <i [class]="submenu.icono"></i>
                                        {{ submenu.titulo }}
                                    </a>
                                </li>

                            </div>

                            <li role="separator" class="divider"></li>

                            <li>
                                <a style="cursor:pointer;" (click)="userService.logout()"><i
                                        class="fa text-primary fa-power-off"></i> Logout</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!-- ============================================================== -->
                <!-- End Profile -->
                <!-- ============================================================== -->

            </ul>
        </div>
    </nav>
</header>
<!-- ============================================================== -->
<!-- End Topbar header -->
<!-- ============================================================== -->