<form [formGroup]="formGroup" (ngSubmit)="enviarFormulario()" id="formAviso">
    <div class="container animated fadeIn">

        <div class="row">

            <!-- TITULO -->
            <mat-form-field appearance="fill" class="my-1 col-12">
                <mat-label>Título</mat-label>

                <input matInput formControlName="titulo" [value]="formGroup.value.titulo" [errorStateMatcher]="matcher">
                <!-- <mat-hint>Por favor ingrese un título lo suficientemente descriptivo.</mat-hint> 
                <mat-error
                    *ngIf="formGroup.controls.titulo.hasError('titulo') && !formGroup.controls.titulo.hasError('required')">
                    Por favor ingrese un título válido.
                </mat-error>-->
                <mat-error *ngIf="formGroup.controls.titulo.hasError('required')">
                    El título <strong>es requerido</strong>
                </mat-error>
            </mat-form-field>


            <!-- DESCRIPCION -->
            <mat-form-field appearance="fill" class="my-1 col-12">
                <mat-label>Descripción</mat-label>
                <textarea matInput formControlName="descripcion" [value]="formGroup.value.descripcion"
                    style="height: 100px;"></textarea>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="fill" class="my-1 col-12 col-lg-4 col-md-6">
                <mat-label>Calle</mat-label>
                <input matInput formControlName="calle" [value]="formGroup.value.calle">
            </mat-form-field>
            <mat-form-field appearance="fill" class="my-1 col-12 col-lg-4 col-md-6">
                <mat-label>Altura</mat-label>
                <input matInput formControlName="altura" [value]="formGroup.value.altura">
            </mat-form-field>
            <mat-form-field appearance="fill" class="my-1 col-12 col-lg-4 col-md-6">
                <mat-label>Piso</mat-label>
                <input matInput formControlName="piso" [value]="formGroup.value.piso">
            </mat-form-field>
            <mat-form-field appearance="fill" class="my-1 col-12 col-lg-4 col-md-6">
                <mat-label>Depto</mat-label>
                <input matInput formControlName="depto" [value]="formGroup.value.depto">
            </mat-form-field>


            <mat-form-field appearance="fill" class="my-1 col-12 col-lg-4 col-md-6">
                <mat-label>Tipo de inmueble</mat-label>
                <mat-select formControlName="tipoinmueble">
                    <mat-option [value]="inmueble.nombre" *ngFor=" let
                        inmueble of inmuebles" (click)="checkForFills(inmueble)">
                        {{ inmueble.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="my-1 col-12 col-lg-4 col-md-6">
                <mat-label>Tipo de unidades</mat-label>
                <mat-select formControlName="tipounidad">
                    <mat-option [value]="unidad.nombre" *ngFor=" let
                        unidad of unidades">
                        {{ unidad.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>


            <mat-form-field appearance="fill" class="my-1 col-12 col-lg-4 col-md-6">
                <mat-label>Tipo de operación</mat-label>
                <mat-select formControlName="tipooperacion">
                    <mat-option [value]="operacion.nombre" *ngFor="let
                        operacion of operaciones">
                        {{ operacion.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>



            <mat-form-field appearance="fill" class="my-1 col-12 col-lg-4 col-md-6">
                <mat-label>Precio</mat-label>
                <input matInput formControlName="precio" [value]="formGroup.value.precio">
            </mat-form-field>
            <mat-form-field appearance="fill" class="my-1 col-12 col-lg-4 col-md-6">
                <mat-label>Tipo de cambio</mat-label>
                <input matInput formControlName="moneda" [value]="formGroup.value.moneda">
            </mat-form-field>
            <mat-form-field appearance="fill" class="my-1 col-12 col-lg-4 col-md-6">
                <mat-label>No publicar el precio</mat-label>
                <input matInput formControlName="nopublicarprecio" [value]="formGroup.value.nopublicarprecio">
            </mat-form-field>
            <mat-form-field appearance="fill" class="my-1 col-12 col-lg-4 col-md-6">
                <mat-label>Apto Crédito</mat-label>
                <input matInput formControlName="aptocredito" [value]="formGroup.value.aptocredito">
            </mat-form-field>
            <mat-form-field appearance="fill" class="my-1 col-12 col-lg-4 col-md-6">
                <mat-label>Provincia</mat-label>
                <input matInput formControlName="provincia" [value]="formGroup.value.provincia">
            </mat-form-field>
            <mat-form-field appearance="fill" class="my-1 col-12 col-lg-4 col-md-6">
                <mat-label>Departamento</mat-label>
                <input matInput formControlName="departamento" [value]="formGroup.value.departamento">
            </mat-form-field>
            <mat-form-field appearance="fill" class="my-1 col-12 col-lg-4 col-md-6">
                <mat-label>Localidad</mat-label>
                <input matInput formControlName="localidad" [value]="formGroup.value.localidad">
            </mat-form-field>








            <mat-form-field formArrayName="coords" appearance="fill" class="my-1 col-12 col-lg-4 col-md-6">
                <mat-label>Coords (Lat)</mat-label>
                <input matInput type="number" formControlName="0" [value]="formGroup.value.coords[0]">
            </mat-form-field>

            <mat-form-field formArrayName="coords" appearance="fill" class="my-1 col-12 col-lg-4 col-md-6">
                <mat-label>Coords (Lng)</mat-label>
                <input matInput type="number" formControlName="1" [value]="formGroup.value.coords[1]">
            </mat-form-field>








            <mat-form-field appearance="fill" class="my-1 col-12 col-lg-4 col-md-6">
                <mat-label>Código</mat-label>
                <input matInput formControlName="codigopostal" [value]="formGroup.value.codigopostal">
            </mat-form-field>
        </div>
    </div>
    <button class="btn btn-dark">Guardar</button>
</form>