.bg {
  background-image   : url("../../../assets/images/background/house-moutain.jpg");
  height             : 500px;
  background-position: center;
  background-repeat  : no-repeat;
  background-size    : cover;
  display            : flex;
  justify-content    : center;
  align-items        : center;
}

.form-container {
  background-color: rgba(100, 28, 28, 0.3);
  width           : 90%;
  padding         : 5%;
}