.bg {
  background-image   : url("../../../assets/images/background/house-moutain.jpg");
  height             : 500px;
  background-position: center;
  background-repeat  : no-repeat;
  background-size    : cover;
  display            : flex;
  justify-content    : center;
  align-items        : center;
}

.form-container {
  background-color: rgba(100, 28, 28, 0.3);
  width           : 90%;
  padding         : 5%;
}

.clean-icon {
  position        : absolute;
  top             : -7px;
  right           : 4px;
  font-size       : 19px;
  cursor          : pointer;
  background-color: #ffffff;
  width           : 25px;
  height          : 25px;
  border-radius   : 11px;
  text-align      : center;
  padding         : 3px;
  color           : green;
}