
   
  




    <!---------------------------------------------------------------------->
    <!-- FILTROS SIDE-BAR -->
    <!---------------------------------------------------------------------->
    <app-filtros class="avisos" (mapCoords)="mapCoords=$event" (optionsSelected)="obtenerAvisos($event)"></app-filtros>

    <!---------------------------------------------------------------------->
    <!-- COLUMNA AVISOS -->
    <!---------------------------------------------------------------------->
    <div class="page-wrapper">
        
        <div class="tab-content" id="myTabContent" style="height: 100vh">

            <!-- ---------------------------------- -->
            <!-- PANE MAP -->
            <!-- ---------------------------------- -->

            <div class="tab-pane fade animated fadeIn" id="mapa" style="height: 100%">
                <app-mapa [(avisos)]="avisos"  [mapCoords]="mapCoords"></app-mapa>
            </div>

            <!-- ---------------------------------- -->
            <!-- PANE LIST -->
            <!-- ---------------------------------- -->

            <div class="tab-pane fade animated fadeIn" id="lista">
                <app-list [(avisos)]="avisos" (avisosChange)="avisosChange($event)"></app-list>
            </div>

            <!-- ---------------------------------- -->
            <!-- PANE CARDS -->
            <!-- ---------------------------------- -->

            <div class="tab-pane fade animated fadeIn" id="cards">
                <app-cards [(avisos)]="avisos"></app-cards>
            </div>


            <!-- BOTON PARA VOLVER ARRIBA -->
            <button [ngClass]="'no-hidden'" *ngIf="showGoUpButton" class="btn btn-dark" (click)="scrollTop()"><i
                    class="fa fa-arrow-circle-up"></i>&nbsp; Volver arriba</button>

        </div>
   
    </div>