<div class="fondo-negro animated fadeIn" [ngClass]="modalUploadService.oculto">

    <div class="modal" style="display: block;" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header  bg-warning">
                    <h5 class="modal-title">Subir Archivo</h5>
                    <button (click)="cerrarModal()" type="button" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center d-flex justify-content-around">

                    <div>
                        <img *ngIf="!imagenTemp" [src]="'xxx' | imagenPipe" class="w150">
                        <img *ngIf="imagenTemp" [src]="imagenTemp" class="w150">
                    </div>

                    <!-- <input (change)="seleccionImage($event.target.files[0])" type="file"> -->

                    <div>
                        <label class="btn btn-warning" for="fusk">Seleccionar Imagen</label>
                        <input (change)="seleccionImage($event.target.files[0])" id="fusk" type="file" name="photo"
                            style="display: none;">
                    </div>

                </div>
                <div class="modal-footer">
                    <button (click)="subirImagen()" [disabled]="!imagenTemp" type="button" class="btn btn-primary">Subir
                        imagen</button>
                    <button (click)="cerrarModal()" type="button" class="btn btn-secondary">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

</div>