<div class="row">

    <!---------------------------------------------------------------------->
    <!-- COLUMNA FILTROS -->
    <!---------------------------------------------------------------------->
    <div class="col-12 pr-sm-0 col-xs-6 col-sm-4 col-md-3 col-xl-2" style="height: 500px;">
        <app-filtros class="propiedades" (optionSelected)="filterSelected($event)"></app-filtros>
    </div>

    <!---------------------------------------------------------------------->
    <!-- COLUMNA PROPIEDADES -->
    <!---------------------------------------------------------------------->
    <div class="col-12 col-xs-6 col-sm-8 col-md-9 col-xl-10 p-0">
        <div class="tab-content" id="myTabContent">

            <!-- ---------------------------------- -->
            <!-- TAB MAP -->
            <!-- ---------------------------------- -->

            <div class="tab-pane fade animated fadeIn" id="mapa">
                <app-mapa class="propiedades" [propiedades]="propiedadesService.propiedades"></app-mapa>
            </div>

            <!-- ---------------------------------- -->
            <!-- TAB LIST -->
            <!-- ---------------------------------- -->

            <div class="tab-pane fade animated fadeIn" id="lista">
                <app-list [propiedades]="propiedadesService.propiedades"></app-list>
            </div>

            <!-- ---------------------------------- -->
            <!-- TAB CARDS -->
            <!-- ---------------------------------- -->

            <div class="tab-pane fade animated fadeIn" id="cards">
                <app-cards [propiedades]="propiedadesService.propiedades"></app-cards>
            </div>


            <!-- BOTON PARA VOLVER ARRIBA -->
            <button [ngClass]="'no-hidden'" *ngIf="showGoUpButton" class="btn btn-dark" (click)="scrollTop()"><i
                    class="fa fa-arrow-circle-up"></i>&nbsp; Volver arriba</button>

        </div>
    </div>

</div>