<div class="bg">

    <div class="row w-100 animated fadeIn">
        <div class="col-12 col-lg-8 col-md-7 col-sm-6">

        </div>
        <div class="col-12 col-lg-4 col-md-5 col-sm-6 float-right">


            <form class="form-container rounded" ngNativeValidate [formGroup]="forma" (ngSubmit)="registrarUsuario()" id="loginform"
                action="index.html">


 
                    <mat-form-field color="warn" logincss class="w-100">
                        <mat-label>Ingresa tu nombre</mat-label>
                            <input matInput placeholder="Nombre" formControlName="nombre" name="nombre" class="form-control" type="text" required placeholder="Nombre">
                    </mat-form-field>

                    <mat-form-field color="warn" logincss class="w-100">
                        <mat-label>Ingresa tu email</mat-label>
                            <input matInput placeholder="Email" formControlName="correo" name="correo" class="form-control" type="email" required placeholder="Correo">
                    </mat-form-field>

                    <mat-form-field color="warn" logincss class="w-100">
                        <mat-label>Ingresa una clave</mat-label>
                        <input matInput placeholder="Clave" formControlName="password" name="password" class="form-control" type="password" required placeholder="Contraseña">
                    </mat-form-field>

                    <mat-form-field color="warn" logincss class="w-100">
                        <mat-label>Repetí la clave</mat-label>
                        <input matInput placeholder="Clave" formControlName="password2" name="password2" class="form-control" type="password" required placeholder="Confirma contraseña">
                    </mat-form-field>


                <div class="form-group" *ngIf="forma.errors?.sonIguales && !forma.pristine">
                    <p class="text-danger">
                        Las contraseñas deben de se iguales
                    </p>
                </div>


                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="p-2 rounded">

                            <input formControlName="condiciones" name="condiciones" id="checkbox-signup"
                                type="checkbox" class=" checkbox checkbox-primary">
                            <label class="text-dark" for="checkbox-signup"> Estoy de acuerdo con los términos</label>


                        </div>
                    </div>
                </div>
                <div class="form-group text-center">

                    <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light"
                        type="submit">Registrarme</button>

                </div>
                <div class="form-group m-b-0">
                    <div class="col-sm-12 text-center">
                        <p>¿Tienes una cuenta? <a routerLink="/login" class="text-info m-l-5"><b>Ingresa ahora</b></a>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->