<div class="row p-2">

    <div class="col-12">

        <div *ngIf="filtros.tipooperacion">{{ filtros.tipooperacion.nombre }}</div>
        <div *ngIf="filtros.tipoinmueble">{{ filtros.tipoinmueble.nombre }}</div>
        <div *ngIf="filtros.localidad">{{ filtros.localidad.nombre }}</div>

        <mat-form-field>
            <mat-select placeholder="Tipo de operación" [formControl]="operacionControl" multiple>
                <mat-select-trigger>
                    {{operacionControl.value ? operacionControl.value[0] : ''}}
                    <span *ngIf="operacionControl.value?.length > 1" class="example-additional-selection">
                        (y {{operacionControl.value.length - 1}}+)
                    </span>
                </mat-select-trigger>
                <mat-option *ngFor="let operacion of formsService.tiposOperaciones" [value]="operacion.nombre">
                    {{operacion.nombre}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Tipo de inmueble" [formControl]="inmuebleControl" multiple>
                <mat-select-trigger>
                    {{inmuebleControl.value ? inmuebleControl.value[0] : ''}}
                    <span *ngIf="inmuebleControl.value?.length > 1" class="example-additional-selection">
                        (y {{inmuebleControl.value.length - 1}}+)
                    </span>
                </mat-select-trigger>
                <mat-option *ngFor="let inmueble of formsService.tiposInmuebles" [value]="inmueble.nombre">
                    {{inmueble.nombre}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <!-- <mat-form-field>
            <mat-select placeholder="Toppings" [formControl]="toppings" multiple>
                <mat-select-trigger>
                    {{toppings.value ? toppings.value[0] : ''}}
                    <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
                        (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
                    </span>
                </mat-select-trigger>
                <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
            </mat-select>
        </mat-form-field> -->

    </div>
</div>