<div class="container animated fadeIn">
    <mat-horizontal-stepper [linear]=" isLinear" #stepper>

        <!-- --------------------------------------------------------------- -->
        <!-- FORMULARIO DE PUBLICACION -->
        <!-- --------------------------------------------------------------- -->

        <mat-step [stepControl]="formAviso">
            <ng-template matStepLabel><i class="mdi mdi-home-outline h5"></i>&nbsp; Aviso</ng-template>
            <app-form-propiedad-aviso [formData]="propiedad" (outputGroup)="guardarFormulario($event, stepper)"
                *ngIf="propiedad.titulo"></app-form-propiedad-aviso>
        </mat-step>

        <!-- --------------------------------------------------------------- -->
        <!-- UPLOADER DE IMAGENES -->
        <!-- --------------------------------------------------------------- -->

        <mat-step>
            <ng-template matStepLabel><i class="mdi mdi-camera h5"></i>&nbsp; Fotos</ng-template>
            <div class="p-3 my-3 bg-dark row rounded rounded-lg animated fadeIn">
                <div class="col-12">
                    <h2 class="text-white bold">
                        Subir Imagenes
                    </h2>
                </div>
            </div>
            <app-uploader [propiedad]="propiedad" tipo="propiedades" [id]="propId"
                (cargaFinalizada)="misPropiedadesService.stepperGoNext(stepper)">
            </app-uploader>
        </mat-step>

        <!-- --------------------------------------------------------------- -->
        <!-- FORMULARIO DE DETALLES -->
        <!-- --------------------------------------------------------------- -->

        <mat-step [stepControl]="formDetalles">
            <ng-template matStepLabel><i class="mdi mdi-content-paste h5"></i>&nbsp; Detalles</ng-template>
            <!-- <app-form [formControls]="forms[1]" [formGroup]="formsGroups[1]" [propId]="propId"
                (submitForm)="guardarFormulario(forms[1].name, $event, stepper)">
            </app-form> -->
            <app-form-propiedad-detalles></app-form-propiedad-detalles>
        </mat-step>

        <!-- --------------------------------------------------------------- -->
        <!-- CONFIRMACION DE PUBLICACION -->
        <!-- --------------------------------------------------------------- -->

        <mat-step *ngIf="!propiedad.activo">
            <ng-template matStepLabel><i class="mdi mdi-check-circle-outline h5"></i>&nbsp; Confirmar</ng-template>
            <app-form-propiedad-confirm [propiedad]="propiedad" (activar)="cambiarEstado()">
            </app-form-propiedad-confirm>
        </mat-step>

    </mat-horizontal-stepper>
</div>