.lupa {
    position: absolute;
    top: 46px;
    right: 18px;
    z-index: 1;
    color: white;
    font-size: xx-large;
    text-shadow: -1px 0 rgba(0, 0, 0, 0.8), 0px 1px rgba(0, 0, 0, 0.8), 0px -1px rgba(0, 0, 0, 0.8), 1px 0 rgba(0, 0, 0, 0.8)

}