<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<!-- Row -->

<div class="row" *ngIf="parsetemplate">
    <!-- Column -->
    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card">
            <div class="card-body">
                <div style="text-align: center;" class="m-t-30">






                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" [src]="aviso.imgs[0] | imagenPipe : 'avisos' : aviso._id"
                                    alt="First slide">
                            </div>

                            <div class="carousel-item" *ngFor="let img of aviso.imgs">
                                <img class="d-block w-100" [src]="img | imagenPipe : 'avisos' : aviso._id"
                                    alt="First slide">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>


                    <!-- <img
                        [src]="aviso.imgs[0] | imagenPipe : 'avisos' : aviso._id" class="img-circle"
                        width="150" /> -->







                    <h4 class="card-title m-t-10">{{ aviso.calle }} {{ aviso.altura }} </h4>
                    <h6 class="card-subtitle">{{ aviso.tipoinmueble }} en {{ aviso.tipooperacion }} en
                        {{aviso.localidad}} </h6>
                    <div class="row text-center justify-content-md-center">
                        <div class="col-4"><a href="javascript:void(0)" class="link"><i
                                    class="icon-size-fullscreen"></i>
                                <div class="font-medium text-muted">76 m²</div>
                            </a></div>
                        <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-picture"></i>
                                <div class="font-medium text-muted">{{ aviso.imgs.length }}</div>
                            </a></div>
                        <div class="col-4"><a href="javascript:void(0)" class="link"><i class="fa fa-money"></i>
                                <div class="font-medium text-muted">{{ aviso.precio }}</div>
                            </a></div>
                    </div>
                </div>
            </div>
            <div>
                <hr>
            </div>
            <div class="card-body">
                <small class="text-muted">Dirección</small>
                <h6>{{aviso.calle}} {{aviso.altura}}, {{aviso.localidad}}</h6>

                <small class="text-muted p-t-30 db">Zona</small>
                <h6>{{aviso.localidad}} </h6>

                <small class="text-muted p-t-30 db">Código Postal</small>
                <h6>{{aviso.codigopostal}}</h6>


                <!-- MAPA MAPBOX -->
                <div style="height: 200px;">
                    <app-mapa></app-mapa>
                </div>
         

                <small class="text-muted p-t-30 db">Social Profile</small>
                <br />
                <button class="btn btn-circle btn-secondary"><i class="fa fa-facebook"></i></button>
                <button class="btn btn-circle btn-secondary"><i class="fa fa-twitter"></i></button>
                <button class="btn btn-circle btn-secondary"><i class="fa fa-youtube"></i></button>
            </div>
        </div>
    </div>
    <!-- Column -->





    <!-- Column -->
    <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs profile-tab" role="tablist">
                <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#descripcion"
                        role="tab">Descripción</a>
                </li>
                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#especificaciones"
                        role="tab">Especificaciones</a> </li>
                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Settings</a>
                </li>
            </ul>




            <!-- Tab panes -->
            <div class="tab-content">

                <!-- DESCRIPCION -->
                <div class="tab-pane active" id="descripcion" role="tabpanel">
                    <div class="card-title">
                        {{aviso.titulo}}
                    </div>
                    <div class="card-body">
                        {{aviso.descripcion}}
                    </div>
                </div>


                <!--second tab-->
                <div class="tab-pane" id="especificaciones" role="tabpanel">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3 col-xs-6 b-r"> <strong>Superficie total</strong>
                                <br>
                                <p class="text-muted">76 m²</p>
                            </div>
                            <div class="col-md-3 col-xs-6 b-r"> <strong>Dormitorios</strong>
                                <br>
                                <p class="text-muted">2</p>
                            </div>
                            <div class="col-md-3 col-xs-6 b-r"> <strong>Baños</strong>
                                <br>
                                <p class="text-muted">2</p>
                            </div>
                            <div class="col-md-3 col-xs-6"> <strong>Terraza</strong>
                                <br>
                                <p class="text-muted">Si</p>
                            </div>
                        </div>
                        <hr>
                        <p class="m-t-30">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim
                            justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis
                            pretium. Integer tincidunt.Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate
                            eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book. It has survived not only five
                            centuries </p>
                        <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                            passages, and more recently with desktop publishing software like Aldus PageMaker including
                            versions of Lorem Ipsum.</p>
                        <h4 class="font-medium m-t-30">Skill Set</h4>
                        <hr>
                        <h5 class="m-t-30">Wordpress <span class="pull-right">80%</span></h5>
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                                aria-valuemax="100" style="width:80%; height:6px;"> <span class="sr-only">50%
                                    Complete</span> </div>
                        </div>
                        <h5 class="m-t-30">HTML 5 <span class="pull-right">90%</span></h5>
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                aria-valuemax="100" style="width:90%; height:6px;"> <span class="sr-only">50%
                                    Complete</span> </div>
                        </div>
                        <h5 class="m-t-30">jQuery <span class="pull-right">50%</span></h5>
                        <div class="progress">
                            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                                aria-valuemax="100" style="width:50%; height:6px;"> <span class="sr-only">50%
                                    Complete</span> </div>
                        </div>
                        <h5 class="m-t-30">Photoshop <span class="pull-right">70%</span></h5>
                        <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                                aria-valuemax="100" style="width:70%; height:6px;"> <span class="sr-only">50%
                                    Complete</span> </div>
                        </div>
                    </div>
                </div>


                <div class="tab-pane" id="settings" role="tabpanel">
                    <div class="card-body">

                    </div>
                </div>
            </div>
            <div>
                <button routerLink="/avisos" class="btn btn-primary"><i class="mdi mdi-arrow-left-box"></i>
                    Volver</button>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>
<!-- Row -->
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->