<div class="bg">
    <div class="w-100 px-5 align-items-center">
        <form ngNativeValidate (ngSubmit)="enviarFormulario()" class=" animated fadeIn">
            <div class="row">
                <div class="col-12 col-md-6 col-xl-3 my-1">
                    <button class="btn btn-success btn-block btn-lg">Venta</button>
                </div>
                <div class="col-12 col-md-6 col-xl-3 my-1">
                    <button class="btn btn-success btn-block btn-lg">Alquiler</button>
                </div>
                <div class="col-12 col-md-6 col-xl-3 my-1">
                    <button class="btn btn-success btn-block btn-lg">Alquiler por temporada</button>
                </div>
                <div class="col-12 col-md-6 col-xl-3 my-1">
                    <button class="btn btn-success btn-block btn-lg">Tiempo compartido</button>
                </div>

            </div>
            <div class="row py-3">

                <div class="col-md-3">
                    <select class="form-control form-control-lg">
                        <option></option>
                    </select>
                </div>
                <div class="col-md-9">
                    <input type="text" class="form-control form-control-lg">
                </div>

            </div>

        </form>
    </div>


</div>