/* You can add global styles to this file, and also import other style files */
#themecolors a {
  cursor: pointer;
}

#themecolors a {
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.w150 {
  width: 150px;
}

.w100 {
  width: 100px;
}

.w70 {
  width: 70px;
}

.img-80 {
  width: 80px;
}

.img-50 {
  width: 50px;
}

.img-30 {
  width: 30px;
}

.oculto {
  display: none;
}

.input-icon {
  position        : absolute;
  top             : 6px;
  right           : -5px;
  font-size       : 14px;
  cursor          : pointer;
  background-color: #ffffff;
  width           : 25px;
  height          : 23px;
  /* border-radius: 11px; */
  text-align      : center;
  padding         : 3px;
  color           : #3e3e3e;

}

.menu-filter {
  position           : relative;
  top                : -32px;
  right              : -170px;
  font-size          : 19px;
  cursor             : pointer;
  /* background-color: #ffffff; */
  width              : 25px;
  height             : 25px;
  border-radius      : 11px;
  text-align         : center;
  padding            : 3px;
  color              : green;
}

.fondo-negro {
  background-color: rgba(0, 0, 0, 0.4);
  position        : fixed;
  top             : 0px;
  left            : 0px;
  width           : 100%;
  height          : 100%;
  z-index         : 9999;
}


// para que los controles de material en el content no tengan padding.
.mat-horizontal-content-container {
  // padding: 0px !important;
}

// para que las opciones en el select list de material no haga un salto de linea en textos largos.
.mat-select-option-nowarp {
  float: left;
  width: max-content;
}

// estilos personalizadoso para iconos 
.mdi-18px {
  font-size: 18px;
}

.mdi-24px {
  font-size: 24px;
}

.mdi-36px {
  font-size: 36px;
}

.mdi-48px {
  font-size: 48px;
}

.mdi-dark {
  color: rgba(0, 0, 0, 0.54);
}

.mdi-dark.mdi-inactive {
  color: rgba(0, 0, 0, 0.26);
}

.mdi-light {
  color: rgba(255, 255, 255, 1);
}

.mdi-light.mdi-inactive {
  color: rgba(255, 255, 255, 0.3);
}

html,
body {
  // height: 100%;
}

body {
  margin     : 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// /* Los controles de angular material son transparentes, les defino un color de fondo.*/
// .mat-form-field[iniciocss] {
//   .mat-form-field-flex>.mat-form-field-infix {
//     background-color: rgb(255, 255, 255);
//   }
// }



// .mat-form-field[logincss] {
//   .mat-form-field-flex>.mat-form-field-infix {
//     background-color: rgb(255, 255, 255);
//   }
// }




.mat-form-field[iniciocss] {
  .mat-form-field-flex {
    background-color: rgb(255, 255, 255);
  }
}

.mat-form-field[logincss] {
  .mat-form-field-flex {
    background-color: rgb(255, 255, 255);
  }
}

// FORM FILTROS: MAT-SELECTION-LIST espaciado de cada MAT-LIST-OPTION
.mat-list-option {
  .mat-list-item-content {
    padding: 2px !important;

    .mat-list-text {
      padding: 2px !important;
    }

  }
}

.mat-list-option[formfiltros-operaciones] {
  .mat-list-item-content {
    .mat-pseudo-checkbox.mat-pseudo-checkbox-checked {
      background-color: darkorange;
    }
  }
}

.mat-list-option[formfiltros-inmuebles] {
  .mat-list-item-content {
    .mat-pseudo-checkbox.mat-pseudo-checkbox-checked {
      background-color: green;
    }
  }
}

.mat-list-option[formfiltros-localidades] {
  .mat-list-item-content {
    .mat-pseudo-checkbox.mat-pseudo-checkbox-checked {
      background-color: blue;
    }
  }
}

// Quita el color de background-color que el navegador pone automaticamente en los 
// inputs cuando llena el control con un valor automáticamente con auto-fill.
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/*Change text in autofill textbox*/
// input:-webkit-autofill {
// -webkit-text-fill-color: yellow !important;
// }

// PSEUDO CHECKBOX COLOR: MAT-SELECTION-LIST MAT-LIST-OPTION 


.cdk-overlay-pane {
  width: auto !important;
}


/////////////////////////////////////////////////////////////// 
// GOOGLE FONTS 
///////////////////////////////////////////////////////////////
.font-google-turrent-road {
  font-family: 'Turret Road', cursive;
}

/////////////////////////////////////////////////////////////// 
// MAPBOX POPUP PADDING 
///////////////////////////////////////////////////////////////
.mapboxgl-popup-content {
  padding: 0px; // le quito el borde
  top    : 0px; // lo dejo en una posicion relativa fija
  left   : 10px;
}

.mapboxgl-popup {
  display  : block; // le quito el borde inferior
  transform: none !important; // evito que se mueva con el mouse
}

.mapboxgl-popup-tip {
  visibility: hidden; // le quito el piquito de la flecha que apunta al marker
}

.marker {
  display      : block;
  border       : none;
  border-radius: 50%;
  cursor       : pointer;
  padding      : 0;
}

// Todas las paginas que contienen al sidebar llevan la clase page-wrapper, pero las 
// paginas que no deben contener al sidebar defino una nueva clase que solo debe contener 
// un margen superior 

.no-sidebar {
  margin-top: 70px;
}