<div class="content p-3">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 col-xl-4" *ngFor="let propiedad of propiedades">
            <div class="ribbon-wrapper card cardshadow border">
                <div class="ribbon ribbon-bookmark ribbon-warning"> <i class="fa fa-check-circle"></i>
                    Destacado </div>

                <div class="ribbon-content">
                    <!---------------------------------------------------------------------->
                    <!-- IMAGEN -->
                    <!---------------------------------------------------------------------->
                    <img class="card-img-top rounded-top rounded-lg"
                        [src]="propiedad.imgs[0] | imagenPipe : 'propiedades' : propiedad._id" alt="Card image cap">
                    <!---------------------------------------------------------------------->
                    <!-- PRECIO -->
                    <!---------------------------------------------------------------------->
                    <span class="propiedad-precio">{{ propiedad.precio }}</span>
                    <!---------------------------------------------------------------------->
                    <!-- FAVORITOS -->
                    <!---------------------------------------------------------------------->
                    <span *ngIf="!usuarioService.logueado" routerLink="/login"> <i
                            class="mdi mdi-heart propiedad-favorito-no"></i></span>

                    <span *ngIf="usuarioService.logueado" (click)="agregarFavorito(propiedad)">
                        <span *ngIf="propFavoritas.includes(propiedad._id)">
                            <i class="mdi mdi-heart propiedad-favorito-si"></i>
                        </span>
                        <span *ngIf="!propFavoritas.includes(propiedad._id)">
                            <i class=" mdi mdi-heart propiedad-favorito-no"></i>
                        </span>
                    </span>
                    <!-- 
                    <div *ngIf="!estaEnFavoritos(propiedad._id)">
                        <i class="mdi mdi-heart propiedad-favorito-si"></i>
                    </div> -->
                    <!-- <span *ngIf="usuarioService.logueado"></span> -->

                    <!---------------------------------------------------------------------->
                    <!-- DIRECCION -->
                    <!---------------------------------------------------------------------->
                    <div class="card-body p-2">
                        <div class="propiedad-direccion">
                            {{propiedad.calle}} {{propiedad.altura}}, {{propiedad.localidad.nombre | capitalizarPipe}}
                        </div>
                        <div class="propiedad-operacion mb-2">
                            {{propiedad.tipoinmueble.nombre}} en {{propiedad.tipooperacion.nombre}}
                        </div>

                        <!---------------------------------------------------------------------->
                        <!-- TITULO Y DESCRIPCION -->
                        <!---------------------------------------------------------------------->

                        <h5 class="card-title">{{propiedad.titulo}}</h5>
                        <p>{{propiedad.descripcion}}</p>
                    </div>
                </div>

                <button [routerLink]="['/propiedadver', propiedad._id]"
                    class="btn btn-primary rounded-0 float-right rounded-bottom rounded-lg"><i
                        class="mdi mdi-content-paste"></i>
                    Ver
                    propiedad</button>
            </div>

        </div>
    </div>
</div>