
<div class="content p-3">
    <div class="row" style="justify-content: center;">

        <div *ngIf="avisos && avisos.length === 0">
            <div class="col">
                <span class="alert alert-warning" role="alert">
                        No se encontraron avisos.
                  </span>
            </div>
        </div>
        
        <div class="col-12 col-md-6 col-lg-4 col-xl-4" *ngFor="let aviso of avisos">
            <div class="ribbon-wrapper card cardshadow border">
                <div class="ribbon ribbon-bookmark ribbon-success" *ngIf="aviso.destacado"> <i class="fa fa-check-circle"></i> Destacado </div>
                <div class="ribbon-content">
                    <!---------------------------------------------------------------------->
                    <!-- IMAGEN -->
                    <!---------------------------------------------------------------------->
                    <img class="card-img-top rounded-top rounded-lg"
                        [src]="aviso.imgs[0] | imagenPipe : 'avisos' : aviso._id" alt="Card image cap">
                    <!---------------------------------------------------------------------->
                    <!-- PRECIO -->
                    <!---------------------------------------------------------------------->
                    <span class="aviso-precio">{{ aviso.precio }}</span>
                    <!---------------------------------------------------------------------->
                    <!-- FAVORITOS -->
                    <!---------------------------------------------------------------------->
                    <span *ngIf="!usuarioService.logueado" routerLink="/login"> <i
                            class="mdi mdi-heart aviso-favorito-no"></i></span>

                    <span *ngIf="usuarioService.logueado" (click)="agregarFavorito(aviso)">
                        <span>
                            <i [ngClass]="{'mdi mdi-heart aviso-favorito-si': propFavoritas[aviso._id]}"></i>
                        </span>
                        <span>
                            <i [ngClass]="{'mdi mdi-heart aviso-favorito-no': !propFavoritas[aviso._id]}"></i>
                        </span>
                    </span>
                    <!-- 
                    <div *ngIf="!estaEnFavoritos(aviso._id)">
                        <i class="mdi mdi-heart aviso-favorito-si"></i>
                    </div> -->
                    <!-- <span *ngIf="usuarioService.logueado"></span> -->

                    <!---------------------------------------------------------------------->
                    <!-- DIRECCION -->
                    <!---------------------------------------------------------------------->
                    <div class="card-body p-2">
                        <div class="aviso-direccion">
                            {{aviso.calle}} {{aviso.altura}}, {{aviso.localidad.nombre | capitalizarPipe}}
                        </div>
                        <div class="aviso-operacion mb-2">
                            {{aviso.tipoinmueble.nombre}} en {{aviso.tipooperacion.nombre}}
                        </div>

                        <!---------------------------------------------------------------------->
                        <!-- TITULO Y DESCRIPCION -->
                        <!---------------------------------------------------------------------->

                        <h5 class="card-title">{{aviso.titulo}}</h5>
                        <p>{{aviso.descripcion}}</p>
                    </div>
                </div>

                <button [routerLink]="['/aviso', aviso._id]"
                    class="btn btn-dark rounded-0 float-right rounded-bottom rounded-lg">
                    <i class="mdi mdi-content-paste"></i> Ver aviso
                </button>
            </div>

        </div>
    </div>
</div>