<form ngNativeValidate [formGroup]="formGroup" (ngSubmit)="enviarFormulario(formName)" novalidate="novalidate"
    *ngIf="parsetemplate" class=" animated fadeIn">
    <div class="container">
        <div class="row">
            <div *ngFor="let control of formControls?.controls; let i = index" class="col-12 col-lg-6">
                <!-- TITLE -->
                <label>{{control.label}}</label>

                <!-- SELECT -->
                <select class="form-control" [id]="control.id" type="select" *ngIf="control.type==='select'"
                    (change)="checkForFills(i, $event)" [formControlName]="control.name">
                    <option *ngFor="let option of control.value" [value]="option.label">{{option.label}}
                    </option>
                </select>

                <!-- INPUT TEXT -->
                <input [formControlName]="control.name" type="text" class="form-control form-control-success"
                    *ngIf="control.type==='text'">

                <!-- INPUT AUTOCOMPLETE -->
                <div *ngIf="control.type==='autocomplete'">
                    <input type="text" placeholder="Ingrese una localidad" aria-label="Number" matInput
                        [formControl]="myControl" [matAutocomplete]="auto" #input (keyup)="buscarLocalidad( $event )"
                        class="form-control form-control-success">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.properties.nombre"
                            (click)="seleccionLocalidad(option)">
                            {{option.properties.nombre}}, {{option.properties.departamento.nombre}},
                            {{option.properties.provincia.nombre}}
                        </mat-option>
                    </mat-autocomplete>

                </div>


                <!-- TEXTAREA -->
                <textarea [formControlName]="control.name" rows="5" class="form-control col-12"
                    *ngIf="control.type==='textarea'"></textarea>

                <!-- INPUT CHECKBOX -->
                <div *ngIf="control.type==='check'">
                    <input [formControlName]="control.name" [name]="control.name" type="checkbox" [id]="control.id" />
                    <label [for]="control.id">{{control.label}}</label>
                </div>

                <!-- INPUT RADIO -->
                <div *ngIf="control.type==='radiogroup'">
                    <span *ngFor="let radio of control.radios">
                        <input type="radio" [id]="radio.id" [formControlName]="control.name" [name]="control.name"
                            class="with-gap radio-col-red" [value]="radio.value" />
                        <label [for]="radio.id">{{radio.label}}</label>&nbsp;
                    </span>
                </div>

            </div>
            <!-- SUBMIT BUTTON -->
            <div class="col-12  my-5 p-0">

                <button type="submit" class="btn btn-success float-right" [disabled]="formGroup.invalid">
                    <!-- mat-button matStepperNext> -->
                    <i class="fa fa-save"></i>&nbsp;
                    Guardar
                </button>

            </div>
        </div>

        <!-- SHOW CONTROLS VALIDITY -->
        <!-- <div class="row">
            <div class="col-12">
                <span *ngFor="let control of form.controls">
                    [{{control.name}}: <b>{{form.controls[control.name].valid}}</b>],
                </span>
            </div>
        </div> -->

    </div>
</form>